# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and dependency files
.env/
.venv/
*.venv
*.egg-info/

# Ignore dataset and large files
Original Data/
Modified Data/
Models/
*.csv
*.html